<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
		<context:component-scan base-package="com.aaa"/>
		<context:property-placeholder location="classpath:config/jdbc_oracle.properties"/>
		<!-- basicdatasource -->
		<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
			<property name="DriverClassName" value="${driver}"/>
			<property name="url" value="${dburl}"/>
			<property name="username" value="${name}"/>
			<property name="password" value="${pass}"/>
			<property name="initialSize" value="${init}"/>
			<property name="minIdle" value="${minid}"/>
			<property name="maxIdle" value="${maxid}"/>
			<property name="maxTotal" value="${maxto}"/>
		</bean>
		<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="typeAliasesPackage" value="com.aaa.entity"/>
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath:com/aaa/mapper/*.xml"/>
		</bean>
		<!-- mapperscannerconfigurer -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.aaa.dao"/>
		</bean>
		<!-- 文件上传  CommonMultipartResolver-->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置最大上传大小 -->
		<property name="maxUploadSize" value="10485760"></property>
		</bean>
</beans>